@use "../global/" as g;

.u-hidden-sp {
  display: none;

  @include g.mq(xl) {
    display: block;
  }
}

.u-hidden-pc {
  @include g.mq(xl) {
    display: none;
  }
}

/* スクロール禁止用クラス */
.u-noscroll {
  overflow: hidden;
  height: 100dvh;
}
