# ---------------------------------
# 必須: 依存パッケージ
# ---------------------------------
# 容量が巨大で、npm install で復元できるため管理不要
node_modules/

# ---------------------------------
# OS・システムファイル
# ---------------------------------
# Macのフォルダ情報のゴミファイル
.DS_Store
# Windowsのサムネイル画像ファイル
Thumbs.db

# ---------------------------------
# エディタ・IDEの設定
# ---------------------------------
# VSCodeの個人設定フォルダ（チーム開発でないなら除外推奨）
.vscode/

# ---------------------------------
# ログファイル
# ---------------------------------
# エラーが起きた時に生成されるログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------
# Gulp・Sass関連
# ---------------------------------
# Sassのキャッシュファイル
.sass-cache/