@use "../global" as g;

.p-archive {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include g.mq(md) {
    gap: 100px;
  }
}

.p-archive__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
