@use "../global/" as g;

.p-blog-card__link {
  display: flex;
  gap: 10px;
  align-items: center;

  @include g.mq(md) {
    flex-direction: column;
    gap: 0;
  }
}

.p-blog-card__thumbnail {
  width: calc(133 / 335 * 100%);
  flex-shrink: 0;

  @include g.mq(md) {
    width: auto;
  }
}

.p-blog-card__body {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include g.mq(md) {
    min-height: 129px;
    width: 100%;
    padding: 18px 24px 10px;
    position: relative;
  }
}

.p-blog-card__label {
  width: fit-content;
  padding: 2px 8px;
  border-radius: 999px;
  background: g.$color-main;
  color: g.$color-white;
  font-size: 10px;
  line-height: 1.5;

  @include g.mq(md) {
    position: absolute;
    top: -12px;
    left: 24px;
    font-size: 11px;
    padding: 6px 12px;
  }
}

.p-blog-card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 6px;

  @include g.mq(md) {
    font-size: 16px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.p-blog-card__date {
  display: block;
  color: g.$color-text-sub;
  font-size: 11px;
  line-height: 1.5;
  margin-top: 6px;

  @include g.mq(md) {
    margin-top: auto;
  }
}
