@use "../global/" as g;

.p-drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: g.$color-main-dark;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.p-drawer-menu__inner {
  height: 100dvh;
}

.p-drawer-menu__header {
  padding: 14px 20px;
}

.p-drawer-menu__logo {
  img {
    width: 270px;
  }
}

.p-drawer-menu__nav {
  height: calc(100dvh - 60px * 2);
  display: grid;
  place-items: center;
  overflow: auto;
  padding-inline: 60px;
}

.p-drawer-menu__list {
  width: 100%;
}

.p-drawer-menu__item {
  border-top: 1px dashed g.$color-white;

  &:last-child {
    border-bottom: 1px dashed g.$color-white;
  }
}

.p-drawer-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px calc(15px - 1px); // border分を引く

  &:nth-first-child {
    padding-block: calc(15px - 2px); // border分を引く
  }
}

.p-drawer-menu__left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.p-drawer-menu__icon {
  width: 24px;
  height: 24px;
}

.p-drawer-menu__text {
  color: g.$color-white;
  font-size: 14px;
  line-height: 1.5;
}
