@use "../global/" as g;

.p-entry-nav__inner {
  display: flex;
  align-items: center;
  gap: 11px;
  max-width: 324px;
  justify-content: center;
  margin-inline: auto;

  @include g.mq(md) {
    max-width: 352px;
  }
}
