@use "../global/" as g;

.p-feature {
  padding-top: 60px;
}

.p-feature__inner {
  padding-top: 145px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 97px;
}

.p-feature__decoration {
  position: absolute;
  top: 39px;
  left: 3%;
  z-index: -1;
  width: 148%;

  img {
    width: 100%;
  }
}

.p-feature__content {
  padding-inline: 20px;
}

.p-feature__en {
  color: g.$color-main;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.p-feature__ja {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.6px;
  margin-top: 11px;
}

.p-feature__text {
  font-size: 14px;
  line-height: 1.7;

  &:nth-of-type(1) {
    margin-top: 30px;
  }

  &:nth-of-type(2) {
    margin-top: 25px;
  }
}

.p-feature__image {
  text-align: left;
  margin-top: 40px;

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

  img {
    width: 89%;
  }
}
