@use "../global/" as g;

.p-footer-copyright {
  padding: 13px 70px;
  text-align: center;
  background: g.$color-main;
  margin-top: 59px;

  @include g.mq(md) {
    margin-top: 56px;
    padding-block: 16px;
  }

  small {
    color: g.$color-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
  }
}
