@use "../global/" as g;

.p-footer-access {
  background: g.$color-white;
  padding: 32px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;

  @include g.mq(lg) {
    flex-direction: row;
    align-items: center;
    max-width: g.$width-inner;
    margin-inline: auto;
    padding: 40px 50px;
    gap: 40px;
    border-radius: 20px;
  }
}

.p-footer-access__info {
  max-width: 477px;
  margin-inline: auto;
  width: 100%;

  @include g.mq(lg) {
    margin-inline: 0;
  }
}

.p-footer-access__logo {
  max-width: 309px;
  margin-inline: auto;

  @include g.mq(md) {
    max-width: 408px;
  }

  img {
    width: 100%;
  }
}

.p-footer-access__address {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;

  @include g.mq(md) {
    line-height: 1.5;
    margin-top: 6px;
  }

  span {
    margin-left: 14px;
  }
}

.p-footer-access__tel {
  margin-top: 21px;
}

.p-footer-access__time {
  color: g.$color-main;
  text-align: center;
  font-size: 12px;
  line-height: normal;
}

.p-footer-access__table {
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;

  @include g.mq(md) {
    margin-top: 18px;
  }
}

.p-footer-access__map {
  max-width: 477px;
  margin-inline: auto;
  width: 100%;
  padding-inline: 10px;

  @include g.mq(md) {
    padding-inline: 0;
  }

  @include g.mq(lg) {
    max-width: 385px;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    vertical-align: bottom;
  }
}

.p-footer-access__button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

  @include g.mq(md) {
    gap: 20px;
    margin-top: 18px;
  }
}
