@use "../global/" as g;

.p-gallery {
  padding-block: 100px;

  @include g.mq(md) {
    padding-block: 120px 160px;
  }
}

.p-gallery__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;

  @include g.mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 60px;
  }
}

.p-gallery__item {
  border-radius: 20px;
  overflow: hidden;
}
