@use "../global/" as g;

.p-header-tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.p-header-tel__text {
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
}

