@use "../global/" as g;

.p-header-tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.p-header-tel__text {
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
}

.p-header-tel__number {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 28px;
    height: 28px;
  }

  span {
    color: g.$color-main;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.64px;
  }
}
