@use "../global/" as g;

.p-header-nav__list {
  display: flex;
  gap: 24px;
}

.p-header-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.p-header-nav__icon {
  width: 24px;
  height: 24px;
}

.p-header-nav__text {
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.5;
}
