@use "header-nav";
@use "header-tel";
@use "footer-cta";
@use "drawer-menu";
@use "top-fv";
@use "top-news";
@use "reserve";
@use "concept";
@use "recommend";
@use "service";
@use "blog";
@use "blog-card";
@use "footer-access";
@use "footer-top-deco";
@use "footer-nav";
@use "footer-copyright";
@use "lower-top";
@use "feature";
@use "gallery";
@use "page-nav";
