@use "../global/" as g;

.p-lower-top {
  margin: 20px 20px 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  @include g.mq(md) {
    margin: 40px 60px 0;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &--about {
    background: url(../img/sp/about-top.webp) no-repeat center center / cover;

    @include g.mq(md) {
      background: url(../img//about-top.webp) no-repeat center center / cover;
    }
  }

  &--medical {
    background: url(../img/sp/medical-top.webp) no-repeat center center / cover;

    @include g.mq(md) {
      background: url(../img/medical-top.webp) no-repeat center center / cover;
    }
  }

  &--staff {
    background: url(../img/sp/staff-top.webp) no-repeat center center / cover;

    @include g.mq(md) {
      background: url(../img/staff-top.webp) no-repeat center center / cover;
    }
  }
}

.p-lower-top__wrapper {
  text-align: center;
  color: g.$color-white;
  padding-block: 60px;
  position: relative;
  z-index: 2;

  @include g.mq(md) {
    padding-block: 127px;
  }
}

.p-lower-top__ja {
  font-weight: 700;
  line-height: 1.5;
  font-size: 24px;
  letter-spacing: 4.8px;

  @include g.mq(md) {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
}

.p-lower-top__en {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 15px;

  @include g.mq(md) {
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-top: 17px;
  }
}
