@use "../global/" as g;

.p-medical {
  margin-top: 40px;

  @include g.mq(md) {
    margin-top: 60px;
  }
}

.p-medical__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include g.mq(md) {
    gap: 39px;
  }
}

.p-medical__item {
  padding: 20px;
  background: g.$color-white;
  border-radius: 20px;

  @include g.mq(md) {
    padding: 60px;
  }
}

.p-medical__header {
  position: relative;
}

.p-medical__heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid g.$color-text-sub;

  @include g.mq(md) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 36px;
    gap: 38px;
  }
}

.p-medical__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.6px;

  @include g.mq(md) {
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 2.24px;
  }
}

.p-medical__subtitle {
  color: g.$color-main;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}

.p-medical__badge {
  position: absolute;
  top: -20px;
  right: 0;

  @include g.mq(md) {
    top: -60px;
  }
}

.p-medical__body {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include g.mq(md) {
    flex-direction: row;
    gap: calc(40 / 880 * 100%);
    margin-top: 36px;
  }
}

.p-medical__text {
  @include g.mq(md) {
    width: calc(420 / 880 * 100%);
  }
  p:nth-of-type(n + 2) {
    margin-top: 24px;
  }
}

.p-medical__image {
  @include g.mq(md) {
    width: calc(420 / 880 * 100%);
  }

  img {
    border-radius: 20px;
    width: 100%;
  }
}
