@use "../global/" as g;

.p-service {
  padding-block: 23% 8%;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 375 / 88;
    content: "";
    background: url(../img/sp/top-service-bg-top.svg) no-repeat center / contain;

    @include g.mq(md) {
      background: url(../img/top-service-bg-top.svg) no-repeat center / contain;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 375 / 88;
    content: "";
    background: url(../img/sp/top-service-bg-bottom.svg) no-repeat center /
      contain;
  }
}

.p-service__container {
  background: g.$color-main-light;
  padding-block: 32px 62px;
}

.p-service__inner {
}

.p-service__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.p-service-item {
  border-radius: 20px;
  overflow: hidden;
  min-height: 210px;
  display: grid;
  place-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
  }

  &:nth-of-type(1) {
    background: url(../img/sp/top-service-img-01.png) no-repeat center center /
      cover;
  }

  &:nth-of-type(2) {
    background: url(../img/sp/top-service-img-02.png) no-repeat center center /
      cover;
  }
}
.p-service-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.p-service-item__title {
  color: g.$color-white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.6px;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: g.$color-white;
    margin: 20px auto 0;
  }
}

.p-service-item__text {
  color: g.$color-white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.96px;
}

.p-service__text {
  font-size: 14px;
  margin-top: 40px;
  padding: 17px 20px;
  background: g.$color-white;
}
