@use "../global/" as g;

.p-service {
  padding-block: 23% 8%;
  position: relative;

  @include g.mq(md) {
    padding-block: 15.8% 7.4%;
  }

  &:nth-of-type(n + 2) {
    margin-block: 97px 98px;

    @include g.mq(md) {
      margin-top: 160px;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 375 / 88;
    content: "";
    background: url(../img/sp/top-service-bg-top.svg) no-repeat center / contain;

    @include g.mq(md) {
      background: url(../img/top-service-bg-top.svg) no-repeat center / contain;
      aspect-ratio: 1280 / 203;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 375 / 88;
    content: "";
    background: url(../img/sp/top-service-bg-bottom.svg) no-repeat center /
      contain;

    @include g.mq(md) {
      background: url(../img/top-service-bg-bottom.svg) no-repeat center /
        contain;
      aspect-ratio: 1280 / 214;
    }
  }
}

.p-service__container {
  background: g.$color-main-light;
  padding-block: 32px 62px;

  @include g.mq(md) {
    padding-block: 0 85px;
  }
}

.p-service__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;

  @include g.mq(md) {
    flex-direction: row;
    gap: calc(80 / 1000 * 100%);
    margin-top: 60px;
  }
}

.p-service-item {
  border-radius: 20px;
  overflow: hidden;
  min-height: 210px;
  position: relative;
  display: flex;
  justify-content: center;

  @include g.mq(md) {
    min-height: 290px;
    flex: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    z-index: 0;
  }

  &:nth-of-type(1)::before {
    background-image: url(../img/sp/top-service-img-01.png);
  }

  &:nth-of-type(2)::before {
    background-image: url(../img/sp/top-service-img-02.png);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.3s ease;
  }

  &:hover {
    &::before {
      transform: scale(1.1);
    }

    &::after {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .p-service-item__wrapper {
      border-color: g.$color-white;
    }
  }
}

.p-service-item__link {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 10px;
}

.p-service-item__wrapper {
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease;
}

.p-service-item__title {
  color: g.$color-white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.6px;

  @include g.mq(md) {
    font-size: 28px;
    letter-spacing: 2.24px;
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: g.$color-white;
    margin: 20px auto 0;

    @include g.mq(md) {
      width: 40px;
    }
  }
}

.p-service-item__text {
  color: g.$color-white;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.96px;

  @include g.mq(md) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.p-service__text {
  font-size: 14px;
  margin-top: 40px;
  padding: 17px 20px;
  background: g.$color-white;

  @include g.mq(md) {
    padding: 36px 40px;
    margin-top: 60px;
  }
}
