@use "../global/" as g;

.p-staff-gallery__slide {
  width: 200px;
  height: auto;
  aspect-ratio: 151/114;

  @include g.mq(md) {
    width: 305px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-staff-gallery__wrapper {
  transition-timing-function: linear;
}
