// サイトの基本設定

// 幅関係の設定----------------------------------
$width-inner: 1000px;
$header-height-sp: 60px;
$header-height-pc: 80px;

// フォント関係の設定 --------------------------
$font-family: "M PLUS Rounded 1c", sans-serif;

// ベース設定
$font-size-base: 14px;
$line-height-base: 1.7;
$font-weight-base: 500;

// 色関係の設定 -------------------------------

// テキストカラー
$color-text: #393939;
$color-text-sub: #888888;
$color-white: #ffffff;

// メインカラー（ブランドカラー）
$color-main: #1391e6;
$color-main-light: #dff1fd;
$color-main-dark: #0060a0;

// アクセントカラー
$color-accent: #ee5a6d;

// ブレイクポイント------------------------------
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
