*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

body {
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
}

.l-header {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	height: 60px;
	padding: 14px 20px;
}

.l-header__inner {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.l-header__logo {
	width: 270px;
}

.l-header__right {
	align-items: center;
	display: flex;
	gap: 32px;
}

.l-inner {
	padding-inline: 20px;
}

.l-footer {
	background: #dff1fd;
	padding-block: 13px 60px;
}

.l-footer__inner {
	padding-inline: 10px;
}

.c-hamburger {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 32px;
	position: fixed;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 32px;
	z-index: 300;
}

.c-hamburger.is-active .c-hamburger__line {
	background-color: #ffffff;
}

.c-hamburger.is-active .c-hamburger__line:nth-child(1) {
	top: 15px;
	transform: rotate(45deg);
}

.c-hamburger.is-active .c-hamburger__line:nth-child(2) {
	opacity: 0;
}

.c-hamburger.is-active .c-hamburger__line:nth-child(3) {
	top: 15px;
	transform: rotate(-45deg);
}

.c-hamburger__line {
	background-color: #1391e6;
	border-radius: 2px;
	height: 2px;
	left: 0;
	margin-left: 3px;
	position: absolute;
	top: 8px;
	transition: opacity 0.3s ease, transform 0.3s ease, top 0.3s ease, color 0.3s ease;
	width: 27px;
}

.c-hamburger__line:nth-child(2) {
	top: 15px;
}

.c-hamburger__line:nth-child(3) {
	top: 22px;
}

.c-btn-tel {
	align-items: center;
	display: flex;
	gap: 4px;
}

.c-btn-tel img {
	height: 18px;
	width: 18px;
}

.c-btn-tel span {
	color: #1391e6;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
}

.c-btn-tel--large {
	justify-content: center;
}

.c-btn-tel--large img {
	height: 28px;
	width: 28px;
}

.c-btn-tel--large span {
	font-size: 32px;
	letter-spacing: -0.64px;
}

.c-btn-cta-web {
	align-items: center;
	background: #1391e6;
	border-radius: 8px;
	display: inline-flex;
	gap: 10px;
	padding: 8px 18px;
}

.c-btn-cta-web img {
	height: 28px;
	width: 46px;
}

.c-btn-cta-web__text {
	align-items: center;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 3px;
	line-height: 1;
}

.c-btn-cta-web__main {
	font-size: 16px;
}

.c-btn-cta-web__sub {
	font-size: 12px;
}

.c-btn {
	background: #ffffff;
	border: 1px solid #1391e6;
	border-radius: 24px;
	color: #1391e6;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 45px;
	position: relative;
	transition: background 0.3s, color 0.3s;
}

.c-btn::after {
	background: url("../img/icon-arrow-right-blue.svg") no-repeat center/contain;
	content: "";
	display: inline-block;
	height: 12px;
	position: absolute;
	right: 11px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s, background 0.3s;
	width: 12px;
}

.c-btn:hover {
	background: #1391e6;
	color: #ffffff;
}

.c-btn:hover::after {
	background: url("../img/icon-arrow-right-white.svg") no-repeat center/contain;
	transform: translateY(-50%) translateX(5px);
}

.c-section-title {
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: 700;
	gap: 14px;
	justify-content: center;
	letter-spacing: 1.6px;
	line-height: 1.5;
	text-align: center;
}

.c-section-title::before,
.c-section-title::after {
	background: url(../img/section-title-deco.svg) no-repeat center/contain;
	content: "";
	height: 15px;
	width: 49px;
}

.c-btn-footer {
	align-items: center;
	border-radius: 30px;
	display: inline-flex;
	font-size: 14px;
	gap: 6px;
	justify-content: center;
	line-height: 1.5;
	max-width: 150px;
	padding: 8px 6px;
	width: 100%;
}

.c-btn-footer--web {
	background-color: #1391e6;
	color: #ffffff;
	transition: background 0.3s;
}

.c-btn-footer--web:hover {
	background: #0060a0;
}

.c-btn-footer--web img {
	height: 17px;
	width: 17px;
}

.c-btn-footer--contact {
	background-color: #ffffff;
	border: 1px solid currentColor;
	color: #1391e6;
	transition: background 0.3s, color 0.3s;
}

.c-btn-footer--contact:hover {
	background: #1391e6;
	color: #ffffff;
}

.c-btn-footer--contact svg {
	height: 17px;
	width: 17px;
}

.c-breadcrumb {
	padding: 12px 20px 0;
}

.c-breadcrumb__list {
	display: flex;
	flex-wrap: wrap;
}

.c-breadcrumb__item {
	align-items: center;
	display: inline-flex;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
}

.c-breadcrumb__item:not(:last-child)::after {
	content: ">";
	margin: 0 10px;
}

.c-breadcrumb__item[aria-current=page] {
	color: #888888;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	pointer-events: none;
}

.c-breadcrumb__link {
	transition: opacity 0.3s;
}

.c-breadcrumb__link:hover {
	opacity: 0.7;
}

.p-header-nav__list {
	display: flex;
	gap: 24px;
}

.p-header-nav__item.current-menu-item .p-header-nav__link {
	color: #1391e6;
}

.p-header-nav__item.current-menu-item .p-header-nav__link::after {
	transform: translateX(-50%) scaleX(1);
}

.p-header-nav__item:hover .p-header-nav__link {
	color: #1391e6;
}

.p-header-nav__item:hover .p-header-nav__link::after {
	transform: translateX(-50%) scaleX(1);
}

.p-header-nav__link {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 7px;
	position: relative;
	transition: color 0.3s ease;
}

.p-header-nav__link::after {
	background-color: #1391e6;
	bottom: -8px;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
	width: 20px;
}

.p-header-nav__icon {
	height: 24px;
	width: 24px;
}

.p-header-nav__text {
	font-size: 11px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}

.p-header-tel {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-header-tel__text {
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
}

.p-footer-cta {
	background: rgba(255, 255, 255, 0.85);
	border-top: 1px solid #1391e6;
	bottom: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
}

.p-footer-cta__inner {
	align-items: center;
	display: flex;
	gap: 16px;
	height: 60px;
	justify-content: center;
	padding: 6px 16px;
}

.p-footer-cta__time {
	font-size: 10px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
}

.p-drawer-menu {
	background-color: #0060a0;
	height: 100dvh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
	width: 100%;
	z-index: 150;
}

.p-drawer-menu.is-active {
	opacity: 1;
	visibility: visible;
}

.p-drawer-menu__inner {
	height: 100dvh;
}

.p-drawer-menu__header {
	padding: 14px 20px;
}

.p-drawer-menu__logo img {
	width: 270px;
}

.p-drawer-menu__nav {
	display: grid;
	height: calc(100dvh - 120px);
	overflow: auto;
	padding-inline: 60px;
	place-items: center;
}

.p-drawer-menu__list {
	width: 100%;
}

.p-drawer-menu__item {
	border-top: 1px dashed #ffffff;
}

.p-drawer-menu__item:last-child {
	border-bottom: 1px dashed #ffffff;
}

.p-drawer-menu__link {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-block: 15px 14px;
}

.p-drawer-menu__link:nth-first-child {
	padding-block: 13px;
}

.p-drawer-menu__left {
	align-items: center;
	display: flex;
	gap: 14px;
}

.p-drawer-menu__icon {
	height: 24px;
	width: 24px;
}

.p-drawer-menu__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.5;
}

.p-top-fv {
	padding-block: 15px 60px;
}

.p-top-fv__inner {
	padding-inline: 20px;
}

.p-top-fv__container {
	position: relative;
}

.p-top-fv__copy {
	bottom: 34px;
	left: 20px;
	position: absolute;
	z-index: 10;
}

.p-top-fv__image {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

.p-top-fv__image picture {
	display: block;
}

.p-top-fv__image img {
	width: 100%;
}

.p-top-fv__button-prev,
.p-top-fv__button-next {
	height: 32px;
	width: 32px;
}

.p-top-fv__button-prev svg,
.p-top-fv__button-next svg {
	display: none;
}

.p-top-fv__button-prev {
	background: url("../img/icon-arrow-left-swiper.svg") no-repeat center/contain;
	border-radius: 50%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	left: -16px !important;
	top: 51% !important;
}

.p-top-fv__button-next {
	background: url("../img/icon-arrow-right-swiper.svg") no-repeat center/contain;
	border-radius: 50%;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	right: -17px !important;
	top: 51% !important;
}

.p-top-fv__pagination {
	bottom: 17px !important;
	display: flex;
	flex-direction: column;
	gap: 8px;
	left: -12px !important;
}

.p-top-fv__pagination .swiper-pagination-bullet {
	background: #888888;
	height: 6px;
	margin: 0 !important;
	opacity: 1;
	transition: background 0.3s ease;
	width: 6px;
}

.p-top-fv__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #1391e6;
}

.p-top-fv__body {
	display: flex;
	flex-direction: column-reverse;
	gap: 39px;
	margin-top: -24px;
	position: relative;
	z-index: 2;
}

.p-top-fv__table {
	text-align: center;
}

.p-top-fv__table img {
	border-radius: 8px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	width: 100%;
}

.p-top-news__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-left: 12px;
}

.p-top-news__title {
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: 700;
	gap: 16px;
	letter-spacing: 1.6px;
	line-height: 1.5;
}

.p-top-news__en {
	color: #1391e6;
	font-size: 11px;
	letter-spacing: 1.1px;
}

.p-top-news__archive {
	color: #888888;
	font-size: 11px;
	font-weight: 500;
	line-height: 1.5;
	text-decoration-line: underline;
	text-decoration-style: solid;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

.p-top-news__item {
	margin-top: 6px;
}

.p-top-news__link {
	align-items: center;
	border-block: 1px solid #393939;
	display: flex;
	gap: 23px;
	padding: 9px 30px 9px 6px;
	position: relative;
}

.p-top-news__link::after {
	background: url("../img/icon-arrow-right-black.svg") no-repeat center/contain;
	content: "";
	height: 14px;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s, background 0.3s;
	width: 14px;
}

.p-top-news__link:hover {
	color: #1391e6;
}

.p-top-news__link:hover::after {
	background: url("../img/icon-arrow-right-blue.svg") no-repeat center/contain;
	transform: translateY(-50%) translateX(5px);
}

.p-top-news__meta {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	transition: color 0.3s;
	width: 69px;
}

.p-top-news__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	transition: color 0.3s;
}

.p-reserve {
	background: #1391e6;
	border-radius: 20px 0 0 20px;
	padding: 20px 17px;
	position: fixed;
	right: 0;
	top: 170px;
	width: -moz-fit-content;
	width: fit-content;
	z-index: 10;
}

.p-reserve__link {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.p-reserve__main,
.p-reserve__sub {
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
}

.p-concept {
	overflow: hidden;
	padding-top: 110px;
	position: relative;
}

.p-concept__decoration {
	left: 3%;
	position: absolute;
	top: 0;
	width: 148%;
	z-index: -1;
}

.p-concept__decoration img {
	width: 100%;
}

.p-concept__inner {
	display: flex;
	flex-direction: column;
	gap: 42px;
}

.p-concept__content {
	padding-inline: 20px;
}

.p-concept__heading {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.p-concept__en {
	color: #1391e6;
	display: block;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1.1px;
	line-height: 1.5;
	text-transform: uppercase;
}

.p-concept__ja {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 1.5;
}

.p-concept__text {
	font-size: 14px;
	margin-top: 30px;
}

.p-concept__button {
	margin-top: 32px;
	text-align: center;
}

.p-concept__image {
	-moz-text-align-last: left;
	text-align-last: left;
	width: 89%;
}

.p-concept__image img {
	border-radius: 0 20px 20px 0;
	width: 100%;
}

.p-recommend {
	padding-block: 100px;
}

.p-recommend__list {
	display: flex;
	flex-direction: column;
	gap: 61px;
	margin-top: 40px;
	padding-inline: 22px;
}

.p-recommend-item__title {
	margin-inline: auto;
	width: 182px;
}

.p-recommend-item__title img {
	width: 100%;
}

.p-recommend-item__image {
	margin-inline: auto;
	margin-top: 15px;
	max-width: 290px;
}

.p-recommend-item__image img {
	width: 100%;
}

.p-recommend-item__text {
	font-size: 14px;
	margin-top: 22px;
}

.p-service {
	padding-block: 23% 8%;
	position: relative;
}

.p-service:nth-of-type(n + 2) {
	margin-block: 97px 98px;
}

.p-service::before {
	aspect-ratio: 375/88;
	background: url(../img/sp/top-service-bg-top.svg) no-repeat center/contain;
	content: "";
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.p-service::after {
	aspect-ratio: 375/88;
	background: url(../img/sp/top-service-bg-bottom.svg) no-repeat center/contain;
	bottom: 0;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
}

.p-service__container {
	background: #dff1fd;
	padding-block: 32px 62px;
}

.p-service__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
}

.p-service-item {
	border-radius: 20px;
	display: flex;
	justify-content: center;
	min-height: 210px;
	overflow: hidden;
	position: relative;
}

.p-service-item::before {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	inset: 0;
	position: absolute;
	transition: transform 0.3s ease;
	z-index: 0;
}

.p-service-item:nth-of-type(1)::before {
	background-image: url(../img/sp/top-service-img-01.png);
}

.p-service-item:nth-of-type(2)::before {
	background-image: url(../img/sp/top-service-img-02.png);
}

.p-service-item::after {
	background-color: rgba(0, 0, 0, 0.2);
	content: "";
	inset: 0;
	pointer-events: none;
	position: absolute;
	transition: background-color 0.3s ease;
	z-index: 1;
}

.p-service-item:hover::before {
	transform: scale(1.1);
}

.p-service-item:hover::after {
	background-color: rgba(0, 0, 0, 0.4);
}

.p-service-item:hover .p-service-item__wrapper {
	border-color: #ffffff;
}

.p-service-item__link {
	display: block;
	padding: 10px;
	position: relative;
	width: 100%;
	z-index: 2;
}

.p-service-item__wrapper {
	align-items: center;
	border: 2px solid transparent;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	justify-content: center;
	transition: border-color 0.3s ease;
	width: 100%;
}

.p-service-item__title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 1.5;
	text-align: center;
}

.p-service-item__title::after {
	background-color: #ffffff;
	content: "";
	display: block;
	height: 2px;
	margin: 20px auto 0;
	width: 30px;
}

.p-service-item__text {
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.96px;
	line-height: 1.5;
	text-align: center;
}

.p-service__text {
	background: #ffffff;
	font-size: 14px;
	margin-top: 40px;
	padding: 17px 20px;
}

.p-blog {
	padding-block: 100px;
}

.p-blog__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
}

.p-blog__button {
	margin-top: 40px;
	text-align: center;
}

.p-blog-card:hover .p-blog-card__title {
	color: #1391e6;
}

.p-blog-card:hover .p-blog-card__thumbnail img {
	transform: scale(1.1);
}

.p-blog-card__link {
	align-items: center;
	display: flex;
	gap: 10px;
}

.p-blog-card__thumbnail {
	flex-shrink: 0;
	overflow: hidden;
	width: 39.7014925373%;
}

.p-blog-card__thumbnail img {
	transition: transform 0.3s;
	width: 100%;
}

.p-blog-card__body {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.p-blog-card__label {
	background: #1391e6;
	border-radius: 999px;
	color: #ffffff;
	font-size: 10px;
	line-height: 1.5;
	padding: 2px 8px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-blog-card__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 14px;
	line-clamp: 2;
	line-height: 1.5;
	margin-top: 6px;
	overflow: hidden;
	transition: color 0.3s;
}

.p-blog-card__date {
	color: #888888;
	display: block;
	font-size: 11px;
	line-height: 1.5;
	margin-top: 6px;
}

.p-footer-access {
	background: #ffffff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 32px 10px 20px;
}

.p-footer-access__info {
	margin-inline: auto;
	max-width: 477px;
	width: 100%;
}

.p-footer-access__logo {
	margin-inline: auto;
	max-width: 309px;
}

.p-footer-access__logo img {
	width: 100%;
}

.p-footer-access__address {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	margin-top: 8px;
	text-align: center;
}

.p-footer-access__address span {
	margin-left: 14px;
}

.p-footer-access__tel {
	margin-top: 21px;
}

.p-footer-access__time {
	color: #1391e6;
	font-size: 12px;
	line-height: normal;
	text-align: center;
}

.p-footer-access__table {
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-top: 20px;
	overflow: hidden;
}

.p-footer-access__map {
	margin-inline: auto;
	max-width: 477px;
	padding-inline: 10px;
	width: 100%;
}

.p-footer-access__map iframe {
	aspect-ratio: 1/1;
	height: auto;
	vertical-align: bottom;
	width: 100%;
}

.p-footer-access__button {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-top: 20px;
}

.p-footer-top-deco {
	height: 32px;
	position: relative;
}

.p-footer-top-deco::before {
	background: url(../img/sp/footer-top-deco.svg) repeat-x center bottom/84px 32px;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-footer-nav {
	margin-top: 42px;
	padding-inline: 10px;
}

.p-footer-nav__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.p-footer-nav__item > a:hover {
	opacity: 0.7;
}

.p-footer-nav__item:nth-of-type(4) .p-footer-nav__sub {
	display: grid;
	gap: 18px 20px;
	grid-template-columns: repeat(2, max-content);
}

.p-footer-nav__title {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	transition: opacity 0.3s;
}

.p-footer-nav__sub {
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-top: 17px;
}

.p-footer-nav__sub a {
	align-items: center;
	display: flex;
	font-size: 16px;
	gap: 6px;
	line-height: 1.5;
}

.p-footer-nav__sub a::before {
	background: url(../img/icon-arrow-right-triangle.svg) no-repeat center center/contain;
	content: "";
	height: 12px;
	width: 6px;
}

.p-footer-nav__sub-item {
	transition: opacity 0.3s;
}

.p-footer-nav__sub-item > a:hover {
	opacity: 0.7;
}

.p-footer-nav__sub-item:nth-child(n+7) {
	grid-column: 2; /* 2列目に配置 */
}

.p-footer-copyright {
	background: #1391e6;
	margin-top: 59px;
	padding: 13px 70px;
	text-align: center;
}

.p-footer-copyright small {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}

.p-lower-top {
	border-radius: 12px;
	margin: 20px 20px 0;
	overflow: hidden;
	position: relative;
}

.p-lower-top::before {
	background: rgba(0, 0, 0, 0.2);
	content: "";
	inset: 0;
	position: absolute;
	z-index: 1;
}

.p-lower-top--about {
	background: url(../img/sp/about-top.webp) no-repeat center center/cover;
}

.p-lower-top--medical {
	background: url(../img/sp/medical-top.webp) no-repeat center center/cover;
}

.p-lower-top__wrapper {
	color: #ffffff;
	padding-block: 60px;
	position: relative;
	text-align: center;
	z-index: 2;
}

.p-lower-top__ja {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 4.8px;
	line-height: 1.5;
}

.p-lower-top__en {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.2px;
	line-height: 1.5;
	margin-top: 15px;
	text-transform: uppercase;
}

.p-feature {
	padding-top: 60px;
}

.p-feature__inner {
	display: flex;
	flex-direction: column;
	gap: 97px;
	overflow: hidden;
	padding-top: 145px;
	position: relative;
}

.p-feature__decoration {
	left: 3%;
	position: absolute;
	top: 39px;
	width: 148%;
	z-index: -1;
}

.p-feature__decoration img {
	width: 100%;
}

.p-feature__section {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.p-feature__content {
	padding-inline: 20px;
}

.p-feature__en {
	color: #1391e6;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1.1px;
	line-height: 1.5;
	text-transform: uppercase;
}

.p-feature__ja {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 1.5;
	margin-top: 11px;
}

.p-feature__text {
	font-size: 14px;
	line-height: 1.7;
}

.p-feature__text:nth-of-type(1) {
	margin-top: 30px;
}

.p-feature__text:nth-of-type(2) {
	margin-top: 25px;
}

.p-feature__image {
	text-align: left;
	width: 89%;
}

.p-feature__image--right {
	margin-left: auto;
}

.p-feature__image img {
	width: 100%;
}

.p-gallery {
	padding-block: 100px;
}

.p-gallery__list {
	display: grid;
	gap: 11px;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 40px;
}

.p-gallery__item {
	border-radius: 20px;
	overflow: hidden;
}

.p-page-nav {
	padding-block: 60px 100px;
}

.p-page-nav__inner {
	display: flex;
	flex-direction: column;
	gap: 82px;
}

.p-page-nav__title {
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: 700;
	gap: 23px;
	letter-spacing: 1.6px;
	line-height: 1.5;
}

.p-page-nav__label {
	background: #1391e6;
	border-radius: 24px;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 1.12px;
	line-height: 1.5;
	padding: 6px 12px;
}

.p-page-nav__label--expense {
	background: #ee5a6d;
}

.p-page-nav__list {
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-top: 32px;
}

.p-page-nav__link {
	border: 1px solid #1391e6;
	border-radius: 12px;
	color: #1391e6;
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 1.5;
	padding: 13px 18px;
	position: relative;
	text-align: center;
	transition: transform 0.3s;
	width: 100%;
}

.p-page-nav__link::after {
	border-bottom: 2px solid #1391e6;
	border-right: 2px solid #1391e6;
	bottom: 12px;
	content: "";
	height: 10px;
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%) rotate(45deg);
	transition: opacity 0.3s, bottom 0.3s;
	width: 10px;
}

.p-page-nav__link:hover {
	background: #dff1fd;
	transform: scale(0.98);
}

.p-page-nav__link:hover .p-page-nav__text {
	transform: translateY(-8px);
}

.p-page-nav__link:hover::after {
	opacity: 1;
}

.p-page-nav__text {
	display: block;
	transition: transform 0.3s;
}

.p-medical {
	margin-top: 40px;
}

.p-medical__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.p-medical__item {
	background: #ffffff;
	border-radius: 20px;
	padding: 20px;
}

.p-medical__header {
	position: relative;
}

.p-medical__heading {
	border-bottom: 1px solid #888888;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 18px;
}

.p-medical__title {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.6px;
	line-height: 1.4;
}

.p-medical__subtitle {
	color: #1391e6;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.12px;
}

.p-medical__badge {
	position: absolute;
	right: 0;
	top: -20px;
}

.p-medical__body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 16px;
}

.p-medical__text p:nth-of-type(n + 2) {
	margin-top: 24px;
}

.p-medical__image img {
	border-radius: 20px;
}

.u-hidden-sp {
	display: none;
}

/* スクロール禁止用クラス */

.u-noscroll {
	height: 100dvh;
	overflow: hidden;
}

.u-color-accent {
	color: #ee5a6d;
}

@media (width <= 368px) {

.c-btn-tel img {
	height: auto;
	width: 16px;
}

.c-btn-tel span {
	font-size: 14px;
}

.c-btn-tel--large img {
	height: auto;
	width: auto;
}

.c-btn-tel--large span {
	font-size: 28px;
}

.c-btn-cta-web img {
	height: auto;
	width: 34px;
}

.c-btn-cta-web__main {
	font-size: 12px;
}

}

@media screen and (min-width: 768px) {

.l-inner {
	margin-inline: auto;
	max-width: 1080px;
	padding-inline: 40px;
}

.l-footer {
	padding-block: 56px 60px;
}

.l-footer__inner {
	padding-inline: 30px;
}

.c-section-title {
	font-size: 28px;
	gap: 28px;
	letter-spacing: 2.24px;
}

.c-section-title::before,
.c-section-title::after {
	height: 20px;
	width: 67px;
}

.c-btn-footer {
	font-size: 16px;
	max-width: 220px;
	padding: 16px 10px;
}

.c-btn-footer--web img {
	height: 24px;
	width: 24px;
}

.c-btn-footer--contact svg {
	height: 24px;
	width: 24px;
}

.c-breadcrumb {
	padding: 12px 90px 0;
}

.p-top-fv__inner {
	padding-inline: 40px;
}

.p-top-fv__body {
	margin-inline: auto;
	max-width: 540px;
}

.p-top-news__en {
	font-size: 12px;
}

.p-concept {
	padding-block: 180px 108px;
}

.p-concept__decoration {
	left: 35%;
	width: 102%;
}

.p-concept__inner {
	align-items: center;
	flex-direction: row-reverse;
	gap: 7.265625%;
	justify-content: flex-end;
}

.p-concept__content {
	padding-inline: 0;
	width: 31.796875%;
}

.p-concept__heading {
	gap: 24px;
}

.p-concept__en {
	font-size: 14px;
	letter-spacing: 1.4px;
}

.p-concept__ja {
	font-size: 22px;
	letter-spacing: 2.24px;
}

.p-concept__text {
	margin-top: 39px;
}

.p-concept__button {
	margin-top: 39px;
	text-align: left;
}

.p-concept__image {
	width: 50%;
}

.p-recommend {
	padding-block: 120px;
}

.p-recommend__list {
	flex-direction: row;
	gap: auto;
	gap: 6.5%;
	margin-top: 60px;
	padding-inline: 0;
}

.p-recommend-item {
	flex: 1;
}

.p-service {
	padding-block: 15.8% 7.4%;
}

.p-service:nth-of-type(n + 2) {
	margin-top: 160px;
}

.p-service::before {
	aspect-ratio: 1280/203;
	background: url(../img/top-service-bg-top.svg) no-repeat center/contain;
}

.p-service::after {
	aspect-ratio: 1280/214;
	background: url(../img/top-service-bg-bottom.svg) no-repeat center/contain;
}

.p-service__container {
	padding-block: 0 85px;
}

.p-service__list {
	flex-direction: row;
	gap: 8%;
	margin-top: 60px;
}

.p-service-item {
	flex: 1;
	min-height: 290px;
}

.p-service-item__title {
	font-size: 28px;
	letter-spacing: 2.24px;
}

.p-service-item__title::after {
	width: 40px;
}

.p-service-item__text {
	font-size: 16px;
	letter-spacing: 1.28px;
}

.p-service__text {
	margin-top: 60px;
	padding: 36px 40px;
}

.p-blog {
	padding-block: 120px;
}

.p-blog__list {
	display: grid;
	gap: 60px 50px;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 60px;
}

.p-blog__item {
	background: #ffffff;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	overflow: hidden;
}

.p-blog__button {
	margin-top: 62px;
}

.p-blog-card__link {
	flex-direction: column;
	gap: 0;
}

.p-blog-card__thumbnail {
	width: auto;
}

.p-blog-card__body {
	min-height: 129px;
	padding: 18px 24px 10px;
	position: relative;
	width: 100%;
}

.p-blog-card__label {
	font-size: 11px;
	left: 24px;
	padding: 6px 12px;
	position: absolute;
	top: -12px;
}

.p-blog-card__title {
	font-size: 16px;
	-webkit-line-clamp: 3;
	line-clamp: 3;
}

.p-blog-card__date {
	margin-top: auto;
}

.p-footer-access__logo {
	max-width: 408px;
}

.p-footer-access__address {
	line-height: 1.5;
	margin-top: 6px;
}

.p-footer-access__table {
	margin-top: 18px;
}

.p-footer-access__map {
	padding-inline: 0;
}

.p-footer-access__button {
	gap: 20px;
	margin-top: 18px;
}

.p-footer-top-deco::before {
	background-position: calc(50% - 40px) bottom;
}

.p-footer-nav {
	margin-top: 44px;
	padding-inline: 0;
}

.p-footer-copyright {
	margin-top: 56px;
	padding-block: 16px;
}

.p-lower-top {
	margin: 40px 60px 0;
}

.p-lower-top--about {
	background: url(../img//about-top.webp) no-repeat center center/cover;
}

.p-lower-top--medical {
	background: url(../img//medical-top.webp) no-repeat center center/cover;
}

.p-lower-top__wrapper {
	padding-block: 127px;
}

.p-lower-top__ja {
	font-size: 32px;
	letter-spacing: 3.2px;
}

.p-lower-top__en {
	font-size: 14px;
	letter-spacing: 1.4px;
	margin-top: 17px;
}

.p-feature {
	padding-top: 80px;
}

.p-feature__inner {
	padding-top: 180px;
}

.p-feature__decoration {
	left: 35%;
	top: 62px;
	width: 102%;
}

.p-feature__section {
	align-items: center;
	flex-direction: row;
	gap: 7.265625%;
	justify-content: flex-end;
}

.p-feature__section--reverse {
	flex-direction: row-reverse;
	margin-top: 60px;
}

.p-feature__content {
	padding-inline: 0;
	width: 44%;
}

.p-feature__en {
	font-size: 14px;
	letter-spacing: 1.4px;
}

.p-feature__ja {
	font-size: 28px;
	letter-spacing: 2.24px;
	margin-top: 24px;
}

.p-feature__text:nth-of-type(1) {
	margin-top: 39px;
}

.p-feature__image {
	margin-top: 0;
	width: 42%;
}

.p-feature__image--right {
	margin-left: 0;
}

.p-gallery {
	padding-block: 120px 160px;
}

.p-gallery__list {
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 60px;
}

.p-page-nav {
	padding-block: 80px 160px;
}

.p-page-nav__inner {
	gap: 80px;
}

.p-page-nav__title {
	font-size: 28px;
	letter-spacing: 2.24px;
}

.p-page-nav__list {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
	margin-top: 30px;
}

.p-page-nav__link {
	border: 2px solid #1391e6;
	font-size: 24px;
	letter-spacing: 1.92px;
	padding: 16px 29px;
}

}

@media screen and (min-width: 992px) {

.p-top-fv__body {
	align-items: center;
	flex-direction: row;
	gap: 60px;
	justify-content: center;
	margin-top: -25px;
	max-width: 1080px;
}

.p-top-fv__table img {
	flex-shrink: 0;
	max-width: 477px;
}

.p-top-news {
	flex: 1;
}

.p-top-news__archive {
	font-size: 12px;
}

.p-top-news__link {
	padding: 9px 32px 9px 9px;
}

.p-top-news__link::after {
	right: 9px;
}

.p-footer-access {
	align-items: center;
	border-radius: 20px;
	flex-direction: row;
	gap: 40px;
	margin-inline: auto;
	max-width: 1000px;
	padding: 40px 50px;
}

.p-footer-access__info {
	margin-inline: 0;
}

.p-footer-access__map {
	max-width: 385px;
}

.p-footer-nav {
	margin-inline: auto;
	max-width: 1000px;
}

.p-footer-nav__list {
	flex-direction: row;
	justify-content: center;
}

.p-feature__inner {
	gap: 228px;
	padding-top: 180px;
}

.p-feature__content {
	padding-inline: 0;
	width: 31.796875%;
}

.p-feature__image {
	margin-top: 0;
	width: 50%;
}

}

@media screen and (min-width: 1200px) {

.l-header {
	height: 80px;
	padding: 8px 40px;
}

.l-footer {
	padding-bottom: 0;
}

.c-btn-tel img {
	height: 28px;
	width: 28px;
}

.c-btn-tel span {
	font-size: 32px;
	letter-spacing: -0.64px;
}

.p-top-fv {
	padding-top: 40px;
}

.p-top-fv__inner {
	padding-inline: 60px;
}

.p-top-fv__copy {
	bottom: 56px;
	left: 62px;
}

.p-top-fv__image {
	border-radius: 18px;
}

.p-top-fv__button-prev,
.p-top-fv__button-next {
	height: 48px;
	width: 48px;
}

.p-top-fv__button-prev {
	left: -22px !important;
	top: 49% !important;
}

.p-top-fv__button-next {
	right: -27px !important;
	top: 49% !important;
}

.p-top-fv__pagination {
	bottom: 6px !important;
	gap: 9px;
	left: -22px !important;
}

.p-top-fv__pagination .swiper-pagination-bullet {
	height: 8px;
	width: 8px;
}

.p-concept__ja {
	font-size: 28px;
}

.p-blog__list {
	grid-template-columns: repeat(3, 1fr);
}

.u-hidden-sp {
	display: block;
}

.u-hidden-pc {
	display: none;
}

}

