*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

body {
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
}

.l-header {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	height: 60px;
	padding: 14px 20px;
}

.l-header__inner {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.l-header__logo {
	width: 270px;
}

.l-header__right {
	align-items: center;
	display: flex;
	gap: 32px;
}

.l-inner {
	margin-inline: auto;
	max-width: 1000px;
	padding-inline: 20px;
}

.c-hamburger {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: flex;
	flex-direction: column;
	height: 32px;
	justify-content: space-between;
	padding: 8px 2px 8px 3px;
	width: 32px;
}

.c-hamburger__line {
	background-color: #1391e6;
	border-radius: 2px;
	height: 2px;
	width: 100%;
}

.p-header-tel__number {
	align-items: center;
	display: flex;
	gap: 4px;
}

.p-header-tel__number img {
	height: 28px;
	width: 28px;
}

.p-header-tel__number span {
	color: #1391e6;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
}

.p-header-nav__list {
	display: flex;
	gap: 24px;
}

.p-header-nav__link {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.p-header-nav__icon {
	height: 24px;
	width: 24px;
}

.p-header-nav__text {
	font-size: 11px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}

.p-header-tel {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-header-tel__text {
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
}

.u-hidden-sp {
	display: none;
}

@media screen and (min-width: 1200px) {

.l-header {
	height: 80px;
	padding: 8px 40px;
}

.p-header-tel__number span {
	font-size: 32px;
	letter-spacing: -0.64px;
}

.u-hidden-sp {
	display: block;
}

.u-hidden-pc {
	display: none;
}

}

