*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

body {
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7;
}

.l-header {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	height: 60px;
	padding: 14px 20px;
}

.l-header__inner {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.l-header__logo {
	width: 270px;
}

.l-header__right {
	align-items: center;
	display: flex;
	gap: 32px;
}

.l-inner {
	margin-inline: auto;
	max-width: 1000px;
	padding-inline: 20px;
}

.c-hamburger {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 32px;
	position: fixed;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 32px;
	z-index: 300;
}

.c-hamburger.is-active .c-hamburger__line {
	background-color: #ffffff;
}

.c-hamburger.is-active .c-hamburger__line:nth-child(1) {
	top: 15px;
	transform: rotate(45deg);
}

.c-hamburger.is-active .c-hamburger__line:nth-child(2) {
	opacity: 0;
}

.c-hamburger.is-active .c-hamburger__line:nth-child(3) {
	top: 15px;
	transform: rotate(-45deg);
}

.c-hamburger__line {
	background-color: #1391e6;
	border-radius: 2px;
	height: 2px;
	left: 0;
	margin-left: 3px;
	position: absolute;
	top: 8px;
	transition: opacity 0.3s ease, transform 0.3s ease, top 0.3s ease, color 0.3s ease;
	width: 27px;
}

.c-hamburger__line:nth-child(2) {
	top: 15px;
}

.c-hamburger__line:nth-child(3) {
	top: 22px;
}

.c-btn-tel {
	align-items: center;
	display: flex;
	gap: 4px;
}

.c-btn-tel img {
	height: 18px;
	width: 18px;
}

.c-btn-tel span {
	color: #1391e6;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3;
}

.c-btn-cta-web {
	align-items: center;
	background: #1391e6;
	border-radius: 8px;
	display: inline-flex;
	gap: 10px;
	padding: 8px 18px;
}

.c-btn-cta-web img {
	height: 28px;
	width: 46px;
}

.c-btn-cta-web__text {
	align-items: center;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 3px;
	line-height: 1;
}

.c-btn-cta-web__main {
	font-size: 16px;
}

.c-btn-cta-web__sub {
	font-size: 12px;
}

.p-header-nav__list {
	display: flex;
	gap: 24px;
}

.p-header-nav__item.current-menu-item .p-header-nav__link {
	color: #1391e6;
}

.p-header-nav__item.current-menu-item .p-header-nav__link::after {
	transform: translateX(-50%) scaleX(1);
}

.p-header-nav__item:hover .p-header-nav__link {
	color: #1391e6;
}

.p-header-nav__item:hover .p-header-nav__link::after {
	transform: translateX(-50%) scaleX(1);
}

.p-header-nav__link {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 7px;
	position: relative;
	transition: color 0.3s ease;
}

.p-header-nav__link::after {
	background-color: #1391e6;
	bottom: -8px;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
	width: 20px;
}

.p-header-nav__icon {
	height: 24px;
	width: 24px;
}

.p-header-nav__text {
	font-size: 11px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}

.p-header-tel {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-header-tel__text {
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
}

.p-footer-cta {
	background: rgba(255, 255, 255, 0.85);
	border-top: 1px solid #1391e6;
	bottom: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
}

.p-footer-cta__inner {
	align-items: center;
	display: flex;
	gap: 16px;
	height: 60px;
	justify-content: center;
	padding: 6px 16px;
}

.p-footer-cta__time {
	font-size: 10px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
}

.p-drawer-menu {
	background-color: #0060a0;
	height: 100dvh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
	width: 100%;
	z-index: 150;
}

.p-drawer-menu.is-active {
	opacity: 1;
	visibility: visible;
}

.p-drawer-menu__inner {
	height: 100dvh;
}

.p-drawer-menu__header {
	padding: 14px 20px;
}

.p-drawer-menu__logo img {
	width: 270px;
}

.p-drawer-menu__nav {
	display: grid;
	height: calc(100dvh - 120px);
	overflow: auto;
	padding-inline: 60px;
	place-items: center;
}

.p-drawer-menu__list {
	width: 100%;
}

.p-drawer-menu__item {
	border-top: 1px dashed #ffffff;
}

.p-drawer-menu__item:last-child {
	border-bottom: 1px dashed #ffffff;
}

.p-drawer-menu__link {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-block: 15px 14px;
}

.p-drawer-menu__link:nth-first-child {
	padding-block: 13px;
}

.p-drawer-menu__left {
	align-items: center;
	display: flex;
	gap: 14px;
}

.p-drawer-menu__icon {
	height: 24px;
	width: 24px;
}

.p-drawer-menu__text {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.5;
}

.u-hidden-sp {
	display: none;
}

/* スクロール禁止用クラス */

.u-noscroll {
	height: 100dvh;
	overflow: hidden;
}

@media (width <= 368px) {

.c-btn-tel img {
	height: auto;
	width: 16px;
}

.c-btn-tel span {
	font-size: 14px;
}

.c-btn-cta-web img {
	height: auto;
	width: 34px;
}

.c-btn-cta-web__main {
	font-size: 13px;
}

}

@media screen and (min-width: 1200px) {

.l-header {
	height: 80px;
	padding: 8px 40px;
}

.c-btn-tel img {
	height: 28px;
	width: 28px;
}

.c-btn-tel span {
	font-size: 32px;
	letter-spacing: -0.64px;
}

.u-hidden-sp {
	display: block;
}

.u-hidden-pc {
	display: none;
}

}

