@use "../global/" as g;

.l-footer {
  background: g.$color-main-light;
  padding-block: 13px 60px;

  @include g.mq(md) {
    padding-block: 56px 0;
  }
}

.l-footer__inner {
  padding-inline: 10px;

  @include g.mq(md) {
    padding-inline: 30px;
  }
}
