@use "../global/" as g;

.c-breadcrumb {
  padding: 12px 20px 0;
}

.c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}

.c-breadcrumb__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;

  &:not(:last-child)::after {
    content: ">";
    margin: 0 10px;
  }

  &[aria-current="page"] {
    color: g.$color-text-sub;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    pointer-events: none;
  }
}

.c-breadcrumb__link {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
