@use "../global/" as g;

.c-btn-arrow-blue {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 6px;

  &::before {
    content: "";
    width: 6px;
    height: 12px;
    background: url(../img/icon-arrow-right-triangle.svg) no-repeat center
      center / contain;
  }
}
