@use "../global/" as g;

.c-btn-tel {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 18px;
    height: 18px;

    @include g.mq(xl) {
      width: 28px;
      height: 28px;
    }
  }

  span {
    color: g.$color-main;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;

    @include g.mq(xl) {
      font-size: 32px;
      letter-spacing: -0.64px;
    }
  }
}
