@use "../global/" as g;

.c-btn-tel {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 18px;
    height: 18px;

    @media (width <= 368px) {
      width: 16px;
      height: auto;
    }

    @include g.mq(xl) {
      width: 28px;
      height: 28px;
    }
  }

  span {
    color: g.$color-main;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;

    @media (width <= 368px) {
      font-size: 14px;
    }

    @include g.mq(xl) {
      font-size: 32px;
      letter-spacing: -0.64px;
    }
  }
}

.c-btn-tel--large {
  justify-content: center;

  img {
    width: 28px;
    height: 28px;

    @media (width <= 368px) {
      width: auto;
      height: auto;
    }
  }

  span {
    font-size: 32px;
    letter-spacing: -0.64px;

    @media (width <= 368px) {
      font-size: 28px;
    }
  }
}
