@use "../global/" as g;

.c-btn {
  display: inline-block;
  color: g.$color-main;
  padding: calc(9px - 1px) calc(46px - 1px);
  border-radius: 24px;
  border: 1px solid g.$color-main;
  background: g.$color-white;
  position: relative;
  transition:
    background 0.3s,
    color 0.3s;
  font-size: 14px;
  font-weight: 500;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    background: url("../img/icon-arrow-right-blue.svg") no-repeat center /
      contain;
    transition:
      transform 0.3s,
      background 0.3s;
  }

  &:hover {
    background: g.$color-main;
    color: g.$color-white;

    &::after {
      transform: translateY(-50%) translateX(5px);
      background: url("../img/icon-arrow-right-white.svg") no-repeat center /
        contain;
    }
  }
}
