@use "../global/" as g;

.c-btn-pagination {
  padding: 9px 12px;
  border-radius: 4px;
  border: 1px solid g.$color-main;
  color: g.$color-main;
  font-size: 12px;
  line-height: 1.5;

  @include g.mq(md) {
    font-size: 14px;
    padding-block: 6px;
  }

  &--prev {
    background: g.$color-main;
    color: g.$color-white;
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url(../img/icon-arrow-left-circle.svg) no-repeat center /
        contain;
      transition: transform 0.3s;
    }

    &:hover {
      &::before {
        transform: translateX(-6px) translateY(-50%);
      }
    }
  }

  &--next {
    background: g.$color-main;
    color: g.$color-white;
    position: relative;
    padding-right: 40px;

    &::after {
      content: "";
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url(../img/icon-arrow-right-circle.svg) no-repeat center /
        contain;
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform: translateX(6px) translateY(-50%);
      }
    }
  }

  &--list {
    color: g.$color-main;
    transition:
      background 0.3s,
      color 0.3s;

    &:hover {
      background: g.$color-main;
      color: g.$color-white;
    }
  }
}
