@use "../global/" as g;

.c-btn-footer {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 8px 6px;
  border-radius: 30px;
  width: 100%;
  max-width: 150px;
  font-size: 14px;
  line-height: 1.5;

  @include g.mq(md) {
    padding: 16px 10px;
    max-width: 220px;
    font-size: 16px;
  }

  &--web {
    background-color: g.$color-main;
    color: g.$color-white;
    transition: background 0.3s;

    &:hover {
      background: g.$color-main-dark;
    }

    img {
      width: 17px;
      height: 17px;

      @include g.mq(md) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &--contact {
    background-color: g.$color-white;
    color: g.$color-main;
    border: 1px solid currentColor;
    transition:
      background 0.3s,
      color 0.3s;

    &:hover {
      background: g.$color-main;
      color: g.$color-white;
    }

    svg {
      width: 17px;
      height: 17px;

      @include g.mq(md) {
        width: 24px;
        height: 24px;
      }
    }
  }
}
