@use "../global/" as g;

.c-hamburger {
  appearance: none;
  width: 32px;
  height: 32px;
  padding: 8px 2px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-hamburger__line {
  width: 100%;
  height: 2px;
  background-color: g.$color-main;
  border-radius: 2px;
}

